/* Generics */
*{
    
}
h1{
    display: inline;
    font-size: 3em;
    
    
}
#section{
    color: gray;
    background-color: #fff;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}
.bottom{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #1e90ff;
    border-radius: 9px;
    text-decoration: none;
    
}
#task{

}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#sfondo{
    background-color: lightgray;
}
#bordo-header{
    border-width: 0;
    border-bottom: lightgray;
    border-style: solid;
}

/* Utilities */
.container{
    max-width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}
/* Header */
#header-principale{
    
}
#logo{
    height: 70px;
}