/* Generics */

.pillola {
    padding: 5px;
    border-width: 0;
    border-style: solid;
    border-radius: 10px;
    color: white;
}

.celeste {
    background-color: #45abea;
}

.viola {
    background-color: #9c72e4;
}

.arancione {
    background-color: #f29e33;
}

.verdeacqua {
    background-color: #64c0a9;
}

.rosa {
    background-color: #d863a1;
}

.verde {
    background-color: #b0c926;
}

.cross-rossa {
    color: red;
}

.checkverde {
    color: #9bcd9b;
}

.bianco {
    background-color: #fff;
}

h1 {
    display: inline;
    font-size: 3em;
    vertical-align: middle;
}

strong {
    font-size: 1.5em;
}

#section {
    color: gray;
    background-color: #fff;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

.bottom {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #1e90ff;
    border-radius: 9px;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    margin-top: 8px;
    font-size: 1.1em;
}

#sfondo {
    background-color: lightgray;
    height: 1080px;
}

#bordo-header {
    border-width: 2px 0px 2px 0px;
    border-bottom: lightgray;
    border-top: lightgray;
    border-style: solid;
    border-radius: 6px;
}

.distanza-righe-principali {
    padding-top: 40px;
    padding-left: 40px;
}


/* Utilities */

.container {
    max-width: 1000px;
    margin: 0 auto;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #fff;
    border-radius: 6px;
}


/* Header */

#header-secondario {
    height: 50px;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 40px;
    border-width: 2px 0px 2px 0px;
    border-bottom: lightgray;
    border-top: lightgray;
    border-style: solid;
    border-radius: 6px;
}

#logo {
    height: 70px;
    vertical-align: middle;
}


/* Main */

main {
    padding-bottom: 20px;
}